@font-face {
    font-family: 'andale';
    src: url('./fonts/ANDALEMO.TTF');
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#sectionone {
    background-color: #7095B7;
    padding: 5px 50px 50px;
    display: flex;
    flex-direction: column;
}

.logo {
    height:60px;
    width: auto;
    padding: 10px;
}

.mainimage {
    max-width: 500px;
    width: 100%;
    border-radius: 5%;
}
.topheader {
    display: flex;
    justify-content: space-between;
}

.frontpage {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 1, 0.37); 
    border-radius: 25px;
    align-content: center;
}

.synopsis {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: andale;
    flex: 1;
    flex-basis: 300px;
    align-self: stretch;
    overflow: hidden;
    gap: 10px;
    align-items: center;
}

button {
    width: 100px;
    color: white;
    background-color: #AD3652;
    font-family: lato;
}

.nav {
    display: flex;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: andale;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.shinji {
    color: #6F4D9A;
}

.rei {
    color: blue;
}

.asuka {
    color: #AD3652;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

#sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
    background-color: #6F4D9A;
}

.charactercontainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card .image {
    max-width: 230px;
    height: auto;
    width: 100%;
    border-radius: 25px;

}

.character {
   text-align: center;
}

.text {
    font-family: andale;
    color: white;
}

#sectionthree {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AD3652;
}

.quotecontainer {
    padding: 5% 25%;
    display: flex;
    flex-direction: column;
}

.author {
    text-align: right;
}

#sectionfour {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #608C4C;
}

.calltoaction {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 20px;
    max-width: 600x;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;

}

div.text > h4,p {
    color: black;
    margin: 2px;
    text-align: center;
}

.quote {
    font-size: 36px;
    text-align: left;
}

.signup {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    background-color: orange;
}

.synopsis > p {
    color: white;
}

div.text > h4 {
    font-size: 24px;
}

footer > p > a {
    color: black;
    text-decoration: underline;
}

footer {
    background-color: darkslategrey;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer > p {
    font-family: andale;
}